@model Log
@{
    ViewData["Title"] = "Edit log";
}
<style>
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
    @{
        string action = "";
        if (@Model == null)
            action = "AddNew";
        else action = "Modify";
   
    <form asp-action="@action" asp-controller="Home">
        @if (@Model != null){
        <div class="form-group">
            <input type="hidden" value="@(Model.id)" asp-for="id" />
        </div>
    }
        <div class="form-group">
            <label asp-for="Data"></label>
            <input type="datetime-local" asp-for="Data" />
        </div>
        <div class="form-group">
            <label asp-for="NominativoRX"></label>
            <input type="text" asp-for="NominativoRX" />
        </div>
        <div class="form-group">
            <label asp-for="NominativoTX"></label>
            <input type="text" asp-for="NominativoTX" />
        </div>
        <div class="form-group">
            <label asp-for="Status"></label>
            <input type="number" asp-for="Status" />
        </div>
        <div class="form-group">
            <label asp-for="ProgressivoSessione"></label>
            <input type="number" asp-for="ProgressivoSessione" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
}
